@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background:linear-gradient(180deg,rgb(245, 244, 244),rgb(209, 207, 207));
}
#projects{
    width: 100vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: all 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
h1{
    color: white;
    font-size: 2.8rem;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}
h4{
    margin-top: 12px;
    font-size: 2rem;
}
.card{
    display: flex;
    width: 350px;
    height: 290px;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}
.card p{
    margin-top: 30px;
}
.card button{
    cursor: pointer;
    width: 70px;
    height: 45px;
    position: relative;
    top: 28px;
    right: 58px;
}
.view{
    border: 1px solid white;
    border-radius: 6px;
    background: transparent;
    margin-top: 25px;
    color: black;
}
.view:hover{
    background-color: black;
}
.card img{
    margin-right: 112px;
    margin-top: -10px;
}
